doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title NTUOSC Course 20160603
		link(rel="stylesheet", href="./public/css/lib.min.css")
		link(rel="stylesheet", href="./public/css/main.min.css")
	body
		.container
			h1 Color Thief
		#color-thief
		script
			| process = window
		script(src="./public/js/lib.min.js")
		script(src="./public/js/main.min.js")
